## Enron Data Exploration

This Python notebook is exploring some of the Enron data.

In [1]:
import pickle
import pandas as pd

In [2]:
enron_data = pickle.load(open("final_project_dataset.pkl", "rb"))
df= pd.DataFrame.from_dict(enron_data).transpose()

In [3]:
print("The length of the Enron data set is: ", len(enron_data))

The length of the Enron data set is:  146

In [4]:
print(df.shape)
df.head()

(146, 21)

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
METTS MARK,600000,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299,29,38,1,...,NaN,1740,False,585062,NaN,365788,702,807,1061827,585062
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,...,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
ELLIOTT STEVEN,350000,NaN,-400729,NaN,steven.elliott@enron.com,4890344,78552,NaN,NaN,NaN,...,NaN,12961,False,1788391,NaN,170941,NaN,NaN,211725,6678735
CORDES WILLIAM R,NaN,NaN,NaN,NaN,bill.cordes@enron.com,651850,NaN,12,10,0,...,NaN,NaN,False,386335,NaN,NaN,58,764,NaN,1038185
HANNON KEVIN P,1500000,NaN,-3117011,NaN,kevin.hannon@enron.com,5538001,34039,32,32,21,...,1617011,11350,True,853064,NaN,243293,1035,1045,288682,6391065

In [5]:
n = [x for x in enron_data.values() if x['poi']==True]
print("The number of POIs are: ", len(n))

The number of POIs are:  18

In [6]:
num_lines = sum(1 for line in open('poi_names.txt'))
print("The number of lines in this file are: ", num_lines)

The number of lines in this file is:  37

In [8]:
print("James Prentice's stock value is: ", enron_data["PRENTICE JAMES"]["total_stock_value"])

James Prentice's stock value is:  1095040

In [9]:
print("Wesley Colwell has this many emails to POI: ", enron_data["COLWELL WESLEY"]["from_this_person_to_poi"])

Wesley Colwell has this many emails to POI:  11

In [13]:
print("The value of Jeffrey Skilling's stock options are: ", enron_data["SKILLING JEFFREY K"]["exercised_stock_options"])

The value of Jeffrey Skilling's stock options are:  19250000

In [15]:
print("The total amount Kenneth Lay took from the scandal was: ",enron_data["LAY KENNETH L"]["total_payments"])

The total amount Kenneth Lay took from the scandal was:  103559793

In [17]:
print("The total amount Jeffrey Skilling took from the scandal was: ",enron_data["SKILLING JEFFREY K"]["total_payments"])

The total amount Jeffrey Skilling took from the scandal was:  8682716

In [19]:
print("The total amount Andrew Fastow took from the scandal was: ",enron_data["FASTOW ANDREW S"]["total_payments"])

The total amount Andrew Fastow took from the scandal was:  2424083

In [20]:
m = [y for y in enron_data.values() if y['email_address'] != 'NaN' ]
print("Number of people with known email address: ", len(m))

Number of people with known email address:  111

In [21]:
p = [z for z in enron_data.values() if z['salary'] != 'NaN']
print("Number of people with known salary: ", len(p))

Number of people with known salary:  95

In [24]:
a = [d for d in enron_data.values() if d['total_payments'] == 'NaN']
print("Number of people with no known total payments: ", len(a))

Number of people with no known salary:  21

In [25]:
print("This means that 14.38% of the people in the data set have no known total payments.")

This means that 14.38% of the people in the data set have no known salary.

In [29]:
b = [e for e in enron_data.values() if e['total_payments'] == 'NaN' and e['poi']==True]
print("This is the number of POIs with no know total payments: ", len(b))

This is the number of POIs with no know total payments:  0